page-credits {
    .credits-bg{
        background-image: url("./assets/imgs/creditsBg.png");
        background-size: cover;
    }

    .credits-container{
        background-color: rgba(0,0,0,0.5);
        height: 100%;
    }
}  
