<!--
  Generated template for the CreditsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content padding class="credits-bg">
  <div class="credits-container chalk-font center white" (click)="back()">
    <h1>Thank you for playing!</h1>
    <h3>this game was made by</h3>
    <br/>
    <h4>Programmer</h4>
    <p>Ronny Susanto</p>
    <p>Taksu Wijaya</p>
    
    <h4>Graphic Designer</h4>
    <p>Shintia Trista</p>

    <h3>Supporting Role</h3>
    <p>Hendricksen Sutianto</p>
    <p>Johanes Immanuel</p>
    <p>Khanti Devi</p>
    
    
  </div>

</ion-content>
