page-waiting-room {
    .header::after{
        background-image: none;
    }


    .chat-container{
        padding: 8px;
    }

    .send-button{
        display: flex;
        height: 100%;
        margin: 0;
    }

    .chat-footer{
        color: white;
        background-color: rgba(0,0,0,0.5);
    }

    .chat-list{
        height: 80px;
        overflow-y: scroll;
    }

    .room-name-container{
        position: absolute;
        top: 15%;
        width: 100%;
    }

    .playing-player-grid{
        position: absolute;
        bottom: 0%;
        left: 50%;
        width: 90%;
        transform: translate(-50%,0%);
    }

    .plate-image{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        max-width: 100%;
        padding:4px;
    }

    .player-name{
        overflow: hidden;
        overflow-wrap: normal;
        text-overflow: ellipsis;
    }

    .crown-container{
        left: 50%;
        width: 50%;
        position: absolute;
        top: -10%;
        transform: translate(-50%,0%);
    }

    .header-container{
        display: flex;
    }
}
