<!--
  Generated template for the WaitingRoomPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <div class="header-container">
    <div (click)="back_click()" class="width-20">
      <img src="./assets/imgs/button_back.png"/>
    </div>
    <div *ngIf="roomMasterId == userDataSvc.user.id" class="width-80 align-right">
      <img src="./assets/imgs/play1.png" (click)="play()" class="width-40"/>
    </div>
  </div>
</ion-header>


<ion-content [class]="getBackground()">
  <div class="center">
    <div class="room-name-container chalk-font white">
      <h4>{{roomData.name}}</h4>
      <p>Room of {{roomData.players}}</p>
    </div>
    <ion-grid class="playing-player-grid chalk-font white">
      <ion-row>
        <ion-col col-4 *ngFor="let player of players | async">
            <img [src]="getAvatar(player.avatar)"/>
            <p class="no-margin player-name">{{player.name}}</p>
            <div *ngIf="player.playerId==roomMasterId" class="crown-container">
              <img src="./assets/imgs/crown.png"/>
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer class="chat-footer">
  <div class="chat-container">
    <div class="chat-list">
      <p *ngFor="let message of chats">{{message}}</p>
    </div>
  </div>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col col-9>
            <ion-item>
              <ion-input type="text"[(ngModel)]="chat_input" placeholder="Enter message"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col col-3>
            <button ion-button full color="secondary" (click)="send(chat_input)" class="send-button">Send</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-footer>
