<!--
  Generated template for the GameRoomPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!--<ion-navbar>
    <ion-title>game-room</ion-title>
  </ion-navbar>-->
  <ion-grid>
    <ion-row>
      <ion-col col-8>

      </ion-col>
      <ion-col col-2>
          <img src="./assets/imgs/trophy.png" (click)="showScores()"/>
      </ion-col>
      <ion-col col-2>
        <img src="./assets/imgs/book.png" (click)="showAnswers()"/>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>


<ion-content style="overflow: hidden; position:relative;" [class]="getBackground()">
  <div class="correct-bubble" [ngStyle]="getBubbleStatus()">
    <img src="./assets/imgs/correct_bubble.png"/>
  </div>
  <img class="sensei" src="./assets/imgs/sensei.png"/>
  <!--<img class="crowds" src="./assets/imgs/Crowds.png"/>-->
  <!--<p class="questionText" (ngModel)="question_text">
    {{question_text}}
  </p>-->
  <ion-list>
    <div class="questionText">
      <div>
          <p>{{question}}</p>
          <p *ngIf="win">{{winner}}</p>
      </div>
    </div>
  </ion-list>
  <!--<div>
    <h4>Answered answers</h4>
    <p *ngFor="let answer of answers">{{answer}}</p>
  </div>
  <div>
    <h4>Score</h4>
    <p *ngFor="let score of scores">{{score}}</p>
  </div>-->
  <button ion-button block *ngIf="gameFinish" (click)="goBack()" color="secondary" style="position:absolute;bottom:0%;">Go back</button>
</ion-content>

<ion-footer class="chat-footer">
  <div style="height:100px; overflow-y:scroll; padding:8px">
    <p *ngFor="let message of chats">{{message}}</p>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col col-9>
          <ion-item>
            <ion-input type="text"[(ngModel)]="chat_input" placeholder="Write answer here.."></ion-input>
          </ion-item>
      </ion-col>
      <ion-col col-3>
          <button ion-button full color="secondary" (click)="send(chat_input)" class="send-button">Send</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
