page-game-room {
    .sensei {
        width: 50%;
        position: absolute;
        right: 0%;
        bottom: 0%;
    }

    .crowds {
        width: 100%;
        position: absolute;
        bottom: 0%;
    }

    .questionText {
        position: absolute;
        top: 20%;
        color: white;
        font-size: 1em;
        width: 100%;
        padding-left: 32px;
        padding-right: 32px;
        font-family: cursive;
    }

    .classroom {
        background-image: url("./assets/imgs/BG-Kelas.png");
        background-size: cover;
        
    }

    .chat-footer{
        color: white;
        background-color: rgba(0,0,0,0.5);
    }

    .send-button{
        display: flex;
        height: 100%;
        margin: 0;
    }

    .correct-bubble{
        position: absolute;
        bottom: 10%;
        width: 40%;
        right: 40%;
    }
}
