page-home {

    

    .menu-button{
        font-size: 1.8em;
    }

    .bottom-sensei-container{
        position: absolute;
        bottom: 0%;
        left: -5%;
        width: 40%;
    }

    .login-container{
        margin-left: 10%;
    }

    .login-button{
        width: 70%;
        border-radius: 10px;
        margin-top: 5%;
        padding: 4px;
    }

    .login-label{
        font-size: 0.8em;
    }
}
