<!--<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic websocket testing
    </ion-title>
  </ion-navbar>
  <button ion-button block (click)="play()" *ngIf="!gameStart">PLAY!</button>
  <button ion-button block color="danger" (click)="endGame()" *ngIf="gameStart">END</button>
</ion-header>-->

<ion-content padding class="home-bg">
  <div [@bounce]="bounceState" class="center">
    <img class="width-75" src="./assets/imgs/title.png" />
  </div>
  <!--<ion-list>
    <ion-item *ngFor="let message of chats">{{message}}</ion-item>
  </ion-list>-->
  <div class="center login-container" *ngIf="check_login_status()">
    <p class="menu-button chalk-font white" (click)="play()">PLAY!</p>
    <p class="menu-button chalk-font white" *ngIf="musicPlay" (click)="toggleMusic()">MUSIC OFF</p>
    <p class="menu-button chalk-font white" *ngIf="!musicPlay" (click)="toggleMusic()">MUSIC ON</p>
    <p class="menu-button chalk-font white" (click)="showCredits()">CREDITS</p>
    <p class="menu-button chalk-font white" (click)="logout()">LOG OUT</p>
    <p class="menu-button chalk-font white" (click)="setServerIp()">SET SERVER IP</p>
  </div>
  <div class="center login-container" *ngIf="!check_login_status() && !signUp">
    <p class="chalk-font white login-label">Email</p>
    <input type="text" class="custom-text-input chalk-font" [(ngModel)]="username">
    <p class="chalk-font white login-label">Password</p>
    <input type="password" class="custom-text-input chalk-font" [(ngModel)]="password">
    <div>
      <button ion-button outline class="white-button login-button" (click)="login()">Login</button>
      <p class="chalk-font white underline" (click)="singUp()">Click here to sign up!</p>
    </div>
    
  </div>

  <div class="center login-container" *ngIf="!check_login_status() && signUp">
    
    <p class="chalk-font white login-label">Email</p>
    <input type="text" class="custom-text-input chalk-font" [(ngModel)]="signup_email">
    <p class="chalk-font white login-label">Password</p>
    <input type="password" class="custom-text-input chalk-font" [(ngModel)]="signup_password">
    <p class="chalk-font white login-label">Confirm Password</p>
    <input type="password" class="custom-text-input chalk-font" [(ngModel)]="signup_confirm">
    <div>
      <button ion-button outline class="white-button login-button" (click)="signUp_button_click()">Sign Up</button>
      <p class="chalk-font white underline" (click)="already_have_account_click()">Already have an account? Click here to login!</p>
    </div>  
  </div>

  <!-- hide if in sign up mode, so it wont block the form-->
  <div class="bottom-sensei-container" *ngIf="!signUp">
      <img src="./assets/imgs/animated_sensei.gif" />
  </div>
</ion-content>

<!--<ion-footer>
  
  <ion-item>
    <ion-input type="text" [(ngModel)]="chat_input" placeholder="Enter message"></ion-input>
  </ion-item>

  <button ion-button block (click)="send(chat_input)">Send</button>
</ion-footer>-->
