// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: 'squeakyChalk';
    src:url("../assets/SqueakyChalkSound.ttf");
}

.align-right{
    text-align: right;
}

.chalk-font{
    font-family: 'squeakyChalk';
}

.white{
    color: white;
}

.pale-blue{
    color :#7c9eae;
}

.pink{
    color: #e78cd9;
}

.width-20{
    width: 20%;
}

.width-30{
    width: 30%;
}

.width-40{
    width: 40%;
}

.width-50{
    width: 50%;
}

.width-60{
    width: 60%;

}

.width-75{
    width: 75%;
}

.width-80{
    width: 80%;
}

.center{
    text-align: center;
}

.custom-text-input{
    color: white;
    border: solid;
    border-color: white;
    width: 70%;
    border-radius: 10px;
    background: transparent;
    border-width: 0.3em;
    padding: 4px;
}

.white-button{
    color: white;
    font-family: squeakyChalk;
    border-width: 0.3em;
    border-color: white;
}

.underline{
    text-decoration: underline;
}

.home-bg{
    background-image: url("../assets/imgs/home-bg.png");
    background-size: cover;
}

.mozaic-bg{
    background-image: url("../assets/imgs/bg_mozaic.png");
    background-size: cover;
}

.create-room-bg{
    background-image: url("../assets/imgs/create-room/bg.png");
    background-size: cover;
}

.borderless{
    border: none;
    background: transparent;
}

.no-margin{
    margin: 0;
}

.background1{
    background-image: url("../assets/imgs/BG-Kelas.png");
    background-size: cover;
}

.background2{
    background-image: url("../assets/imgs/bg_basketballCourt.png");
    background-size: cover;
}

.background3{
    background-image: url("../assets/imgs/toire.png");
    background-size: cover;
}

.blackboard-bg{
    background-image: url("../assets/imgs/blackBoardBg.png");
    background-size: cover;
}

.header::after{
    background-image: none;
}