<!--
  Generated template for the CreateRoomPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>


<ion-content padding class="create-room-bg">
    <div class="back-button-top">
        <img src="./assets/imgs/button_back.png" class="width-20" (click)="back_button_click()"/>
    </div>

    <div class="center">
        <img class="width-30" src="./assets/imgs/title.png" />
    </div>
    <div class="center room-form">
      <h1 class="chalk-font pale-blue">CREATE ROOM</h1>
      
      <h3 class="chalk-font pink">Room Name</h3>
      <input type="text" required [(ngModel)]="roomName" class="borderless chalk-font white room-name-input center">
      
      <h4 class="chalk-font pink players-label">Players</h4>
      <ion-grid class="chalk-font white center">
        <ion-row>
          <ion-col col-3>
            <img class="width-75" src="./assets/imgs/create-room/button_minus.png" (click)="decrease_player_click()"/>
          </ion-col>
          <ion-col col-6>
              <h4>{{players}}</h4>
          </ion-col>
          <ion-col col-3>
              <img class="width-75" src="./assets/imgs/create-room/button_plus.png" (click)="increase_player_click()"/>
          </ion-col>
        </ion-row>
      </ion-grid>

      <!--level select section-->
      <ion-grid class="chalk-font white center">
        <ion-row>
          <ion-col col-3>
            <img class="width-75" src="./assets/imgs/create-room/button_left.png" (click)="prev_bg_click()"/>
          </ion-col>
          <ion-col col-6>
            <img class="width-60 class-thumbnail" [src]="bgName"/>
          </ion-col>
          <ion-col col-3>
              <img class="width-75" src="./assets/imgs/create-room/button_right.png" (click)="next_bg_click()"/>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div>
        <img class="width-50" src="./assets/imgs/create-room/button_create.png" (click)="create_room_click()"/>
      </div>
    </div>
</ion-content>
