page-create-room {
    .room-form{
        margin-top: 5%;

    }

    .room-name-input{
        margin-top: 5%;
        font-size: 1.6em;
        width: 50%;
    }

    .players-label{
        margin-top: 10%;
    }

    .class-thumbnail{
        transform: translate(5%,-10%);
    }

    .scroll-content{
        overflow-y: hidden !important; //force disable scrolling
    }

    .back-button-top{
        position: absolute;
    }
}
