<!--
  Generated template for the RoomListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <div (click)="back_click()">
    <img src="./assets/imgs/button_back.png" class="width-20"/>
  </div>
</ion-header>


<ion-content class="mozaic-bg">
  <div>
    <div class=sensei-chalkboard [@flyIn]="senseiState">
      <img src="./assets/imgs/SenseiWithChalkboard.png"/>
    </div>
    
    <!-- first run settings-->
    <div class="avatar-set-container center" *ngIf="firstRun">
      <p class="chalk-font white">Let's set up your avatar</p>
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <img class="width-75" src="./assets/imgs/create-room/button_left.png" (click)="prev_avatar_click()"/>
          </ion-col>
          <ion-col col-4>
            <img [src]="getAvatar(displayAvatar)"/>
          </ion-col>
          <ion-col col-4>
            <img class="width-75" src="./assets/imgs/create-room/button_right.png" (click)="next_avatar_click()"/>
          </ion-col>
        </ion-row>
      </ion-grid>
      <p class="chalk-font white">Display Name</p>
      <input type="text" class="custom-text-input chalk-font" [(ngModel)]="displayName">
    </div>
    <!-- room list-->
    <h1 text-center class="chalk-font white room-list-title" *ngIf="!firstRun">Room list</h1>
    <div class="room-list-container" *ngIf="!firstRun">
      
      <ion-grid class="room-list chalk-font">
        <!-- single room-->
        <ion-row class="single-room" *ngFor="let item of items | async">
          <ion-col col-7>
            {{item.name}}
          </ion-col>
          <ion-col col-3>
            {{countPlayer(item.playingPlayer)}}/{{item.players}}
          </ion-col>
          <ion-col col-2 (click)="join_room(item.id)">
            <img src="./assets/imgs/join.png"/>
          </ion-col>
        </ion-row>
        <!-- end of single room-->        
      </ion-grid>
    </div>
    <div class="create-room-button-container"  *ngIf="!firstRun">
      <img src="./assets/imgs/create1.png" class="width-60" (click)="create_room_click()"/>
    </div>
    <div class="create-room-button-container" (click)="setAccount()" *ngIf="firstRun">
        <img src="./assets/imgs/button_create.png" class="width-60"/>
      </div>
  </div>
</ion-content>
