page-room-list {
    .header::after{
        background-image: none;
    }

    .sensei-chalkboard{
        position: fixed;
        bottom: 0%;
        width: 100%;
    }

    .room-list-container{
        position: absolute;
        bottom: 20%;
        width: 100%;
        height: 35%;
        overflow-y: scroll;
    }

    .avatar-set-container{
        position: absolute;
        bottom: 20%;
        width: 100%;
        height: 45%;
        overflow-y: scroll;
    }

    .room-list{
        width: 80%;
        color: white;
        
    }

    .room-list-title{
        width: 100%;
        position: absolute;
        bottom: 55%;
    }

    .single-room{
        height: 3em;
    }

    .create-room-button-container{
        position: fixed;
        text-align: center;
        bottom: 0%;
    }
}
