<!--
  Generated template for the ScorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <div (click)="back_click()">
      <img src="./assets/imgs/button_back.png" class="width-20"/>
    </div>
</ion-header>


<ion-content padding class="blackboard-bg">
    <div class="chalk-font white center" style="padding-top:50px;">
      <h1>Scores:</h1>
      <p *ngFor="let score of scores">{{score}}</p>
    </div>
</ion-content>
